<div class="container main-container">
<div class="row animated fadeIn fast">
  <div class="col-md-4 offset-md-4" name="loginCaja">
		<h3 align="center">QM<small>-Login</small></h3>
		<hr>
    <form name="formulario" (ngSubmit)="guardar()"#forma="ngForm">
      <div class="form-group">
        <label>Usuarios</label>
        <input [(ngModel)]="usuario.user"
        name="user"
        type="text"
        class="form-control"
        placeholder="usuario"
        #userName="ngModel"
        required >

      </div>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
           class="alert alert-danger">
           <div *ngIf="userName.errors?.required">
             Campo Obligatorio
           </div>
           </div>

      <div class="form-group">
        <label>contraseña</label>
        <input [(ngModel)]="usuario.password"
        name="password"
        type="password"
        class="form-control"
        placeholder="contraseña"
        #userPass="ngModel"
        required >

      </div>
      <div *ngIf="userPass.invalid && (userPass.dirty || userPass.touched)"
           class="alert alert-danger">
           <div *ngIf="userPass.errors?.required">
             Campo Obligatorio
           </div>
           </div>

      <div class="form-group">
        <button [disabled]="!forma.valid"
        type="submit" class="btn btn-outline-primary" disabled="formnovalidate">
        Iniciar</button>
        <a  class="btn btn-link" [routerLink]="['/register']">Crear Cuenta</a>
      </div>
    </form>
  </div>
</div>
